@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Oswald:wght@400;500;700&display=swap');
:root{
	--color-gris:#f3f3f3;
	--color-aqua:#41c1fe;
	--color-footer:#383737;
	--color-titulo:#3c3838;
	--color-contenido:#888585;
}

header{
    background-color: transparent;
	color: var(--color-contenido);
	position: absolute;
	width: 100%;
	font-family: 'Oswald', sans-serif;
}
.btn-rungran{
	background-color: var(--color-aqua);
	padding: 12px 30px !important;
	border-radius: 40px;
	font-weight: 700;
}

body{
	background-color: var(--color-gris);
}

h1{
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
#hero{
	background-image: url("../img/slider1_slide2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 12% 0;
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

#hero h1{
	color: #fff;
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
}

#hero h5{
	color: var(--color-gris);
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 5%
}

.btn-men{
	background-color: var(--color-aqua);
	padding: 12px 30px !important;
	border-radius: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

.btn-women{
	background-color: #FFFFFF;
	color: var(--color-aqua);
	padding: 12px 30px !important;
	border-radius: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

#run{
	background-color: var(--color-gris);
	color: #FFFFFF;
	padding: 5% 0;
	text-align: center;
}

#run h1{
	margin-top: -170px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

#run h2{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

#new{
	background-image: url( "../img/bg_action.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 15% 0;
	margin-top: 5%;
}

#new h1{
	color: #FFFFFF
		
}

#new h1 span{
	color: var(--color-aqua);
}

.info-team{
	text-align: center;
	border: 1px solid #ddd;
	paddin:30px 0 10px;;
	transition: all 0.3s ease-in-out;
}


}

.info-team h4{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 30px;
}

.info-team p{
	color: var(--color-negro);
	font-size: 16px;
}

.info-team i{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	border: 1px solid var(--color-naranja);
	color: var(--color-naranja);
	transition: all 0.3s ease-in-out;
}

.info-team:hover img{
	border-color:var(--color-naranja);
	transition: all 0.3s ease-in-out;
}

.info-team:hover{
	box-shadow: 2px 2px 10px 4px #eee;
	transition: all 0.3s ease-in-out;
}

.info-team:hover i{
	background-color: var(--color-naranja);
	color: #FFFFFF;
	transition: all 0.3s ease-in-out;
}


